{% extends 'layouts/base.html' %}

{% block title %} Bookmarks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content%}

<!-- One -->
<section id="one" class="wrapper style2 fade-up">
    <div class="inner">
    {% for key, value in bookmarked.items %}
    <h2>{{key}}</h2>
    {% for review in value%}
    <div class="features">
        <section>
            <h3><a href={{review.link.url}} target="_blank">{{review.headline}}</a></h3>
            <p>{{review.summary_short}}</p>
            <form method="POST"  action="{% url 'addbookmark' %}?type=remove_bookmark&review={{review}}">
                {% csrf_token %}
                <button class="button primary" type="submit" value="remove_bookmark" name="reviewr_{{ review.link.url }}">Bookmarked!<span class="fas fa-bookmark"></span></button> 
            </form>
        </section>
    </div>
    {% endfor %}
    {% endfor %}
    </div>
</section>

{% endblock content%}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}