{% extends 'layouts/base.html' %}

{% block title %} Bookmarks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content%}

<!-- One -->
<section id="one" class="wrapper style2 spotlights">
    {% for review in bookmarked %}
    <section  >
        <div class="content"">
            <h2> <a href={{review.link.url}} target="_blank">{{review.headline}}</a></h2>
            <p>{{review.summary_short}}</p>
            <form method="POST">
                {% csrf_token %}
                <button class="button primary" type="submit" value="remove_bookmark" name="reviewr_{{ forloop.counter0 }}">Bookmarked!<span class="fas fa-bookmark"></span></button> 
            </form>
        </div>
    </section>

    {% endfor %}
</section>

{% endblock content%}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}