{% extends 'layouts/base.html' %}

{% block title %} NYT Movie Reviews {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content%}

<!-- Intro -->
<section id="intro" class="wrapper style2 fade-up">
    <div class="inner">
        {% if user.is_authenticated %}
        <h1>Hi {{user.username}}!</h1>
        {% else %}
        <h1>Movie Reviews</h1>
        {% endif %}
        <p>This application displays movie reviews from The New York Times.</p>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="fields">
                <div class="field">
                    {{ form.search}}
                </div>
            </div>
            <div class="actions" align="right">
                <input type="submit" value="Search" name="reviews_form" class="button smooth-scroll-middle" />
            </div>
            
        </form>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper style1 spotlights">
    {% for review in reviews %}
    {% if review in bookmarked%}
    <section  >
        <a class="image center"><img src={{review.multimedia.src}} alt="" data-position="center center" /></a>
        <div class="content"">
            <h2> <a href={{review.link.url}} target="_blank">{{review.headline}}</a></h2>
            <p>{{review.summary_short}}</p>
            <form method="POST" action="{% url 'addbookmark' %}?type=remove_bookmark&review={{review}}">
                {% csrf_token %}
                <button class="button primary" type="submit" value="remove_bookmark" name="reviewr_{{ review.link.url }}">Bookmarked!<span class="fas fa-bookmark"></span></button> 
            </form>
        </div>
    </section>
    {% else %}
        <section>
            <a class="image center"><img src={{review.multimedia.src}} alt="" data-position="center center" /></a>
            <div class="content"">
                <h3> <a href={{review.link.url}} target="_blank">{{review.headline}}</a></h3>
                <p>{{review.summary_short}}</p>
                <button class="button" type="button" data-toggle="modal" data-target="#Modal_{{review.link.url}}" name="review_{{ review.link.url }}"><span class="far fa-bookmark"></span></button> 
                 <!-- Modal -->
                
                <div class="modal fade" id="Modal_{{review.link.url}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content bg-info">
                        <div class="modal-body">
                        <form method="POST" action="{% url 'addbookmark' %}?type=add_bookmark&review={{review}}">
                            {% csrf_token %}
                            <div class="fields">
                                <div class="field">
                                    {{ bookmark_form.foldername}}
                                </div>
                            </div>
                            <div class="actions" align="right">
                                <button class="button"type="submit" value="Bookmarked!" name="submit-{{review.link.url}}"><span class="far fa-bookmark"></span></button> 
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% endfor %}
</section>

{% endblock content%}
{% block footer %}
<form method="POST" action="{% url 'nextpage' %}?page={{page}}">
    {% csrf_token %}
    <div class ="row">
        <div class="actions" align="right">
            <input type="submit" value=">>" name="reviews_form" class="btn" />
        </div>
    </div>
</form>
{% endblock footer %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
